.Name-button {
  font-size: 25px;
  border: none;
  background-color: transparent;
  width: 70%;
  text-align: left;  
}

.Name-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.Goal-item {
  margin: 0px 10px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#Delete-button {
  height: 20px;
}